{% extends 'base.html' %}

{% block content %}
<style>
  body {
    background-image: url('https://imgur.com/0kNwjca.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  </style>
   {% if object %}
    <h1 align="center">Edit <span class="black-text">{{object.name}}</span></h1>
  {% else %}
    <h1 align="center">Add Game</h1>
  {% endif %}
  <div class="card grey lighten-2" >
    <div class="card-content black-text">
      
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
   <form action="" method="post"> 
    <!-- Django requires the following for security purposes -->
     {% csrf_token %}
    <table> 
      <!-- Render the inputs inside of <tr>s & <td>s -->
       {{ form.as_table }}
    </table> 
 </div>
  </div>
    <input type="submit" value="Submit!" class="btn" style="margin-left: 0%" style="height:200px;font-size:14pt;"/> 
   </form> 
{% endblock %}