{% extends 'base.html' %} 
{% block content %}
<style>
body {
  background-image: url('https://imgur.com/kFAWpCt.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<h1 align="center">Sign Up</h1>
<div class="form-container">
  <div class="card grey lighten-2">
              <div class="card-content black-text">


{% if error_message %}
<p class="red-text">{{ error_message }}</p>
{% endif %}

<form method="post" action="{% url 'signup' %}">
  {% csrf_token %} {{ form.as_p }}
  <input type="hidden" background="white" name="next" value="{{ next }}" />
  <input type="submit" class="btn" value="signup" style="margin-left: 0%" />
</form>

{% endblock %}