{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game Forum</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
</head>
<body class="grey darken-2">
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal darken-2">
        <div class="container">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Game Forum</a></li>
        </ul>
        <ul class="right">
          {% if user.is_authenticated %} 
          
          <li><a href="{% url 'games_create' %}">Add a Game</a></li>
          <li><a href="{% url 'index' %}">View All My Games</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
           {% else %}   
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
             {% endif %} 
            
        </ul>
      </div>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer teal darken-2">
      <div class="container">
          <p class="center-align p-footer">© 2020 GAME FORUM</p>
      </div>
  </footer>
</body>
</html>