{% extends 'base.html' %}
{% block content %}
<style>
  body {
    background-image: url('https://imgur.com/nGCaHGN.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  </style>
<h1 align="center">Game Details</h1>
  <div class="col s6 m10">
    <div class="card grey darken-1 card-content white-text">
  <div class="card-content">
    <span class="card-title orange-text">{{ game.name }}</span>
            <p>Genre: {{ game.genre }}</p>
            <p>Description: {{ game.description }}</p>
            <p>Publisher: {{ game.publisher }}</p>
  </div>
  <div class="card-action">
     <a href="{% url 'games_update' game.id %}">Edit</a>
    <a href="{% url 'games_delete' game.id %}">Delete</a>
  </div>
</div>
<div class="col s6 m10">
    <div class='card-action'>
      <div class="card grey lighten-2 card-content"></div>
    <form action="{% url 'add_review' game.id %}" method="post">
      {% csrf_token %}
      {{ review_form.as_p }}
      <input type="submit" class="btn" value="Add Review">
    </form>
    <br>
      <table class="striped">
        <thead>
          <tr><th>Date</th>
            <th>Review</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for review in game.review_set.all %}
            <tr>
              <td>{{review.date}}</td>
              <td>{{ review.content }}</td>
              <td>{{review.rating}}</td>
            </tr>
          </div>
  </div>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </form>
  </div>
</div>
  </div>
<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}
<!-- test -->
