{% extends 'base.html' %}
{% block content %}

<h1>Game Details</h1>
<div class="row">
  <div class="col s6">
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ game.name }}</span>
            <p>Genre: {{ game.genre }}</p>
            <p>Description: {{ game.description }}</p>
            <p>Publisher: {{ game.publisher }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'games_update' game.id %}">Edit</a>
    <a href="{% url 'games_delete' game.id %}">Delete</a>
  </div>
</div>
  <div class='col s6'>
    
    <form action="{% url 'add_review' game.id %}" method="post">
      {% csrf_token %}
      {{ review_form.as_p }}
      <input type="submit" class="btn" value="Add Review">
    </form>
    <br>
      <table class="striped">
        <thead>
          <tr><th>Date</th><th>Review</th><th>Rating</th></tr>
        </thead>
        <tbody>
          {% for review in game.review_set.all %}
            <tr>
              <td>{{review.date}}</td>
              <td>{{ review.content }}</td>
              <td>{{review.rating}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </form>
  </div>
  
  </div>
<hr>


<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}